* {
    background-color: #FAF7F5;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: #139A5F;
    font-weight: bolder;
}

.banner > h1 {
    flex: 1;
}